<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1> Pokedex Entry-Bulbasaur</h1>
   
    <form action="/pokemon" method="POST">
        <input type="number"required name="id"><input type="text"placeholder="text"required name="name"><input type="text"required name="type">
        <input type="url"required name="img">
        <button type=“submit”> Add New Pokemon </button>
        
</body>
</html>